header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 50vh;
    text-align: center;
    background-image: url("../assets/img/header.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .header--titulo-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    align-self: center;
  }
  
  .header--titulo-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color:rgb(255, 255, 255);
  }
  
  .header--titulo-container p{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: rgb(255, 255, 255);
  }
  